<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Nova | Laptop</title>
       <link rel="stylesheet" href="{% static 'styles/category.css' %}">
</head>
<body class="laptops">
    <section class="product-list">
  <div class="product-card">
    <img src="{% static 'assets/macbook-pro.jpg' %}" alt="MacBook Pro 2025" />
    <h3>MacBook Pro M4</h3>
    <p>Reimagined performance</p>
    <a href="{% url 'product2' %}" class="btn">View Product Details</a>
  </div>
</section>
</body>
</html>

