<!-- product2.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MacBook Pro M4 | TechNova</title>
  <link rel="stylesheet" href="{% static 'styles/product.css' %}" />
</head>
<body>
  <section class="product-detail">
    <div class="image-gallery">
      <img src="{% static 'assets/macbook-pro.jpg' %}" alt="MacBook-Pro">
    </div>
    <div class="info">
      <h2>MacBook Pro M4</h2>
      <p><s>₹1,69,999</s> <strong>₹1,59,999</strong></p>
      <p>16-core Neural Engine 35.97 cm (14.2″) Liquid Retina XDR display | Three Thunderbolt 4 ports | HDMI port | SDXC card slot | headphone jack | MagSafe 3 port | Magic Keyboard with Touch ID| Force Touch trackpad | 70W USB-C Power Adapter</p>
      <!-- <button class="btn">Add to Cart</button> -->
    </div>
  </section>
</body>
</html>