<!-- product4.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MagSafe Case | TechNova</title>
  <link rel="stylesheet" href="{% static 'styles/product.css' %}" />
</head>
<body>
  <section class="product-detail">
    <div class="image-gallery">
      <img src="{% static 'assets/magsafe-case.jpg' %}" alt="MagSafe Case">
    </div>
    <div class="info">
      <h2>MagSafe Case</h2>
      <p><s>₹1,099</s> <strong>₹999</strong></p>
      <p>Compatible with Mag-Safe Wireless Charging | Halo 2.0 | Rotatable Stand Slim Shockproof Back Cover</p>
        <!-- <button class="btn">Add to Cart</button> -->
    </div>
  </section>
</body>
</html>