<!-- product3.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Apple Watch X | TechNova</title>
  <link rel="stylesheet" href="{% static 'styles/product.css' %}" />
</head>
<body>
  <section class="product-detail">
    <div class="image-gallery">
      <img src="{% static 'assets/apple-watch-x.jfif' %}" alt="Apple Watch X">
    </div>
    <div class="info">
      <h2>Apple Watch X</h2>
      <p><s>₹59,999</s> <strong>₹49,999</strong></p>
      <p>Jet Black Aluminium Case with Ink Sport Loop | Fitness Tracker | ECG App | Always-On Retina Display | Carbon Neutral</p>
        <!-- <button class="btn">Add to Cart</button> -->
    </div>
  </section>
</body>
</html>